.item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.thumbnail {
  max-width: 164px;
  object-fit: contain;
}

.item-details {
  width: 100%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bottom-row {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.title,
.price {
  font-weight: 700;
}

.trash-icon {
  cursor: pointer;
  width: 20px;
}

.error-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 0;
  padding: 0 0.8rem;
  border: 1px solid var(--light-grey-2);
}

.alert-icon {
  width: 20px;
}
