@font-face {
  font-family: "Italiana";
  src:
    url("./assets/fonts/Italiana-Regular.woff2") format("woff2"),
    url("./assets/fonts/Italiana-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Philosopher";
  src:
    url("./assets/fonts/Philosopher-Regular.woff2") format("woff2"),
    url("./assets/fonts/Philosopher-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --cream: rgb(251 248 236);
  --dark-grey: rgb(36 36 36);

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--cream);
  background-color: var(--dark-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--cream);
  color: var(--dark-grey);
}

a {
  font-weight: 500;
  color: var(--dark-grey);
  text-decoration: inherit;
}
a:hover {
  color: var(--dark-grey);
  font-weight: 700;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Philosopher", system-ui, Helvetica, Arial, sans-serif;
}

button {
  border: 1px solid var(--dark-grey);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--cream);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--dark-grey);
  color: var(--cream);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  font-family: "Italiana", system-ui, Helvetica, Arial, sans-serif;
}
