.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0.6rem 0;
  background-color: var(--cream);
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
.navbar > a:first-child {
  justify-self: start;
}
.navbar > a:last-child {
  justify-self: end;
}

.main-link {
  font-size: 2rem;
}

.main-link:hover {
  text-decoration: none;
}
