.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card p {
  margin: 0.5rem 0;
}

.title {
  font-weight: 700;
}

.details {
  display: flex;
  flex-direction: column;
}

.description {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 0.85rem;
  color: var(--light-grey-1);
}

.add-cart-btn {
  width: 100%;
  background-color: var(--dark-grey-1);
  color: var(--cream);
  margin-top: 0.5rem;
}

.add-cart-btn:hover {
  background-color: var(--dark-grey-2);
}
